.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/20191229_163040.jpg");
  background-position: 50% 26.24%;
}

.u-section-2 .u-sheet-1 {
  min-height: 411px;
}

.u-section-2 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 123px auto 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 184px;
  min-width: 88px;
  margin: 31px auto 60px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}